<div class="col-md-10">
  <h1 class="h1">Add directory</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="directoryname">Directory name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="directoryname" placeholder="Enter directory name">
      </div>
    </div>

    <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Add directory</button>
    </div>
  </div>
  </form>
</div>