<div class="col-md-10">
  <h1 class="h1">Add contact</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="firstname">First name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="lastname">Last name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastname" placeholder="Enter first name">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="telephonenumber">Telephone number: </label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="telephonenumber" placeholder="Enter telephone number">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address: </label>
      <div class="col-sm-10">
        <textarea class="form-control" id="address" placeholder="Enter address"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="telephonedirectory">Telephone directory: </label>
      <div class="col-sm-10">
        <select class="form-control" id="telephonedirectory">
                    <option>--Select--</option>

          <option>Directory 1</option>
          <option>Directory 2</option>
          <option>Directory 3</option>
          <option>Directory 4</option>
        </select>
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Save contact</button>
      </div>
    </div>
  </form>
</div>